@font-face {
  font-family: "Dosis";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: local("Dosis"),
    url("../fonts/dosis_regular.woff") format("woff"),
    url("../fonts/dosis_regular.woff2") format("woff2");
}

@font-face {
  font-family: "Dosis";
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: local("Dosis"),
    url("../fonts/dosis_medium.woff") format("woff"),
    url("../fonts/dosis_medium.woff2") format("woff2");
}

@font-face {
  font-family: "Dosis";
  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src: local("Dosis"),
    url("../fonts/dosis_semi_bold.woff") format("woff"),
    url("../fonts/dosis_semi_bold.woff2") format("woff2");
}

@font-face {
  font-family: "Dosis";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: local("Dosis"),
    url("../fonts/dosis_bold.woff") format("woff"),
    url("../fonts/dosis_bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: local("Roboto"),
    url("../fonts/roboto_light.woff") format("woff"),
    url("../fonts/roboto_light.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: local("Roboto"),
    url("../fonts/roboto_regular.woff") format("woff"),
    url("../fonts/roboto_regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: local("Roboto"),
    url("../fonts/roboto_medium.woff") format("woff"),
    url("../fonts/roboto_medium.woff2") format("woff2");
}

/*html {*/
  /*box-sizing: border-box;*/
/*}*/

/**,*/
/**::before,*/
/**::after {*/
  /*box-sizing: inherit;*/
/*}*/

/*.content-box-component {*/
  /*box-sizing: content-box;*/
/*}*/

/*body {*/
  /*position: relative;*/
  /*min-width: 1200px;*/
  /*margin: 0;*/
  /*padding: 0;*/

  /*font-family: "Roboto", "Arial", sans-serif;*/
  /*font-size: 14px;*/
  /*line-height: 24px;*/
  /*font-weight: 300;*/
  /*font-style: normal;*/

  /*color: #777777;*/
  /*background-color: #ffffff;*/
/*}*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*a {*/
  /*text-decoration: none;*/
/*}*/

/*img {*/
  /*display: block;*/
  /*height: auto;*/
/*}*/

/*.container {*/
  /*width: 1200px;*/
  /*margin: 0 auto;*/
  /*padding: 0 30px;*/
/*}*/

/*.page-header {*/
  /*background-color: #f94d4d;*/
  /*background-image: linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*padding-top: 30px;*/
  /*padding-bottom: 75px;*/
/*}*/

/*.page-header__inner {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
/*}*/

/*.logo {*/
  /*width: 165px;*/
  /*display: flex;*/
  /*vertical-align: bottom;*/
/*}*/

/*.logo__image {*/
  /*width: 48px;*/
  /*height: 40px;*/
/*}*/

/*.logo__app-name {*/
  /*display: block;*/
  /*min-width: 76px;*/
  /*color: #ffffff;*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 36px;*/
  /*font-weight: 700;*/
  /*line-height: 36px;*/
  /*margin-top: 5px;*/
  /*margin-left: 3px;*/
/*}*/

/*.main-nav {*/
  /*min-width: 460px;*/
  /*max-width: 975px;*/
/*}*/

/*.site-list {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: flex-end;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style: none;*/
  /*font-family: "Roboto", "Arial", sans-serif;*/
  /*line-height: 24px;*/
  /*font-weight: 400;*/
  /*color: #ffffff;*/
/*}*/

/*.site-list__link {*/
  /*display: block;*/
  /*color: #ffffff;*/
  /*padding-left: 25px;*/
  /*padding-right: 25px;*/
  /*padding-top: 6px;*/
  /*padding-bottom: 5px;*/
  /*border-radius: 17.5px;*/
  /*cursor: pointer;*/
/*}*/

/*.site-list__item:nth-child(1) .site-list__link {*/
  /*padding-left: 35px;*/
  /*padding-right: 35px;*/
/*}*/

/*.site-list__item:nth-child(2) .site-list__link {*/
  /*padding-left: 17px;*/
  /*padding-right: 17px;*/
/*}*/

/*.site-list__item:nth-child(3) .site-list__link {*/
  /*padding-left: 42px;*/
  /*padding-right: 42px;*/
/*}*/

/*.site-list__item:nth-child(4) .site-list__link {*/
  /*padding-left: 28px;*/
  /*padding-right: 30px;*/
/*}*/

/*.site-list__link:hover,*/
/*.site-list__link:focus {*/
  /*background-color: rgba(255, 255, 255, 0.3);*/
/*}*/

/*.site-list__link:active {*/
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*color: #222222;*/
  /*font-weight: 500;*/
/*}*/

/*.site-list__link--active {*/
  /*color: #222222;*/
  /*background-color: #ffffff;*/
  /*font-weight: 500;*/
  /*margin-top: 2px;*/
/*}*/

/*.site-list__link--active:hover {*/
  /*color: #222222;*/
/*}*/

/*.promo {*/
  /*color: #ffffff;*/
  /*background-color: #f94d4d;*/
  /*background-image:*/
    /*url("../img/phones.png"),*/
    /*linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*background-position:*/
    /*calc(50% + 479px) 0,*/
    /*0 0;*/
  /*background-repeat: no-repeat;*/
  /*padding-bottom: 214px;*/
/*}*/

/*.promo__content {*/
  /*width: 490px;*/
  /*margin-top: 40px;*/
/*}*/

/*.promo__title {*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 54px;*/
  /*font-weight: 600;*/
  /*line-height: 60px;*/
  /*margin: 0;*/
  /*margin-bottom: 22px;*/
/*}*/

/*.promo__description {*/
  /*margin: 0;*/
  /*margin-bottom: 14px;*/
/*}*/

/*.promo__list {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style: none;*/
/*}*/

/*.promo__item {*/
  /*padding-left: 35px;*/
  /*margin-bottom: 10px;*/
  /*position: relative;*/
  /*font-weight: 400;*/
/*}*/

/*.promo__item::before {*/
  /*position: absolute;*/
  /*content: "";*/
  /*width: 15px;*/
  /*height: 15px;*/
  /*left: -1px;*/
  /*top: 5px;*/
  /*background-image: url("../img/check_mark_white.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position: 0 0;*/
/*}*/

/*.promo__link {*/
  /*display: block;*/
  /*width: 202px;*/
  /*height: 50px;*/
  /*margin-top: 30px;*/
  /*font-family: "Roboto", "Arial", sans-serif;*/
  /*font-weight: 500;*/
  /*line-height: 30px;*/
  /*color: #222222;*/
  /*border-radius: 25px;*/
  /*box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);*/
  /*background-color: #ffffff;*/
  /*border: 5px solid #e2612c;*/
  /*text-align: center;*/
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
/*}*/

/*.advantages {*/
  /*padding-top: 118px;*/
  /*margin-bottom: 64px;*/
  /*position: relative;*/
/*}*/

/*.advantages::after {*/
  /*position: absolute;*/
  /*content: "";*/
  /*width: 1140px;*/
  /*height: 2px;*/
  /*background-color: #eeeeee;*/
  /*bottom: -64px;*/
/*}*/

/*.advantages__list {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style: none;*/
/*}*/

/*.advantages__item {*/
  /*width: 360px;*/
  /*padding-left: 100px;*/
  /*position: relative;*/
  /*margin-bottom: 50px;*/
  /*margin-right: 30px;*/
/*}*/

/*.advantages__item::before {*/
  /*position: absolute;*/
  /*content: "";*/
  /*width: 75px;*/
  /*height: 75px;*/
  /*border: 1px solid #eeeeee;*/
  /*border-radius: 50%;*/
  /*left: 0;*/
  /*top: 4px;*/
  /*background-repeat: no-repeat;*/
  /*background-position: 50% 49%;*/
/*}*/

/*.advantages__item:nth-child(1)::before {*/
  /*background-image: url("../img/advantages_icon_1.png");*/
/*}*/

/*.advantages__item:nth-child(2)::before {*/
  /*background-image: url("../img/advantages_icon_2.png");*/
/*}*/

/*.advantages__item:nth-child(3)::before {*/
  /*background-image: url("../img/advantages_icon_3.png");*/
/*}*/

/*.advantages__item:nth-child(4)::before {*/
  /*background-image: url("../img/advantages_icon_4.png");*/
/*}*/

/*.advantages__item:nth-child(5)::before {*/
  /*background-image: url("../img/advantages_icon_5.png");*/
/*}*/

/*.advantages__item:nth-child(6)::before {*/
  /*background-image: url("../img/advantages_icon_6.png");*/
/*}*/

/*.advantages__item:nth-child(3n) {*/
  /*margin-right: 0;*/
/*}*/

/*.advantages__title {*/
  /*margin: 0;*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 24px;*/
  /*font-weight: 500;*/
  /*line-height: 24px;*/
  /*color: #222222;*/
  /*margin-bottom: 19px;*/
/*}*/

/*.advantages__text {*/
  /*margin: 0;*/
/*}*/

/*.main-advantage {*/
  /*padding-top: 171px;*/
  /*padding-bottom: 162px;*/
  /*background-image: url("../img/phone.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position: calc(50% - 357px) -19px;*/
/*}*/

/*.main-advantage__content {*/
  /*width: 515px;*/
  /*margin-right: 39px;*/
  /*margin-left: auto;*/
/*}*/

/*.main-advantage__slogan {*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 36px;*/
  /*font-weight: 500;*/
  /*line-height: 36px;*/
  /*color: #222222;*/
  /*margin: 0;*/
  /*margin-bottom: 23px;*/
/*}*/

/*.main-advantage__text {*/
  /*margin: 0;*/
  /*margin-bottom: 69px;*/
/*}*/

/*.main-advantage__text:last-of-type {*/
  /*margin-bottom: 26px;*/
/*}*/

/*.main-advantage__list {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style: none;*/
/*}*/

/*.main-advantage__item {*/
  /*padding-left: 35px;*/
  /*margin-bottom: 10px;*/
  /*position: relative;*/
  /*font-weight: 400;*/
/*}*/

/*.main-advantage__item::before {*/
  /*position: absolute;*/
  /*content: "";*/
  /*width: 15px;*/
  /*height: 15px;*/
  /*left: -1px;*/
  /*top: 6px;*/
  /*background-image: url("../img/check_mark_black.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position: 0 0;*/
/*}*/

/*.interfaces {*/
  /*background-color: #f7fafc;*/
  /*text-align: center;*/
  /*padding-top: 115px;*/
  /*padding-bottom: 120px;*/
/*}*/

/*.interfaces__title {*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 36px;*/
  /*font-weight: 500;*/
  /*line-height: 36px;*/
  /*color: #222222;*/
  /*margin: 0 auto;*/
  /*width: 656px;*/
  /*margin-bottom: 23px;*/
/*}*/

/*.interfaces__text {*/
  /*margin: 0 auto;*/
  /*width: 660px;*/
  /*margin-bottom: 75px;*/
/*}*/

/*.interfaces__slider {*/
  /*width: 1140px;*/
  /*height: 500px;*/
  /*position: relative;*/
/*}*/

/*.toggle__button {*/
  /*position: absolute;*/
  /*width: 40px;*/
  /*height: 40px;*/
  /*background-color: #ffffff;*/
  /*z-index: 10;*/
  /*border-radius: 50%;*/
  /*border: 1px solid #eeeeee;*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*top: 230px;*/
/*}*/

/*@media (max-width: 1365px) {*/
  /*.toggle__button {*/
    /*display: none;*/
  /*}*/
/*}*/

/*.toggle__button:focus,*/
/*.toggle__button:active {*/
  /*background-image: linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*border: 3px solid #d0d3d5;*/
  /*width: 46px;*/
  /*height: 46px;*/
  /*top: 227px;*/
/*}*/

/*.toggle__button--left {*/
  /*background-image: url("../img/arrow_left_gray.png");*/
  /*left: -91px;*/
/*}*/

/*.toggle__button--left:focus,*/
/*.toggle__button--left:active {*/
  /*background-image:*/
    /*url("../img/arrow_left_white.png"),*/
    /*linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*left: -94px;*/
/*}*/

/*.toggle__button--right {*/
  /*background-image: url("../img/arrow_right_gray.png");*/
  /*right: -91px;*/
/*}*/

/*.toggle__button--right:focus,*/
/*.toggle__button--right:active {*/
  /*background-image:*/
    /*url("../img/arrow_right_white.png"),*/
    /*linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*right: -94px;*/
/*}*/

/*.price {*/
  /*text-align: center;*/
  /*padding-top: 114px;*/
  /*padding-bottom: 119px;*/
/*}*/

/*.price__title {*/
  /*margin: 0 auto;*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 36px;*/
  /*font-weight: 500;*/
  /*line-height: 36px;*/
  /*color: #222222;*/
  /*width: 555px;*/
  /*margin-bottom: 23px;*/
/*}*/

/*.price__text {*/
  /*margin: 0 auto;*/
  /*width: 660px;*/
  /*margin-bottom: 75px;*/
/*}*/

/*.price__list {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style: none;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/
/*}*/

/*.tariff {*/
  /*width: 263px;*/
  /*background-color: #f7fafc;*/
  /*padding-bottom: 42px;*/
  /*outline: none;*/
/*}*/

/*.tariff:hover,*/
/*.tariff:focus {*/
  /*box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);*/
  /*background-color: #ffffff;*/
/*}*/

/*.tariff__title {*/
  /*margin: 0;*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 20px;*/
  /*font-weight: 400;*/
  /*color: #333333;*/
  /*margin-top: 10px;*/
  /*margin-bottom: 17px;*/
/*}*/

/*.tariff__cost {*/
  /*display: block;*/
  /*width: 100%;*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 48px;*/
  /*font-weight: 500;*/
  /*line-height: 48px;*/
  /*color: #333333;*/
  /*background-color: #ffffff;*/
  /*padding-top: 24px;*/
  /*padding-bottom: 48px;*/
  /*padding-left: 7px;*/
  /*position: relative;*/
  /*margin-bottom: 30px;*/
/*}*/

/*.tariff:hover .tariff__cost,*/
/*.tariff:focus .tariff__cost {*/
  /*background-image: linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
/*}*/

/*.tariff__cost::before {*/
  /*position: absolute;*/
  /*content: "";*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*height: 43px;*/
  /*background-image: linear-gradient(17deg, #f7fafc 34%, transparent 25%), linear-gradient(-17deg, #f7fafc 34%, transparent 25%);*/
/*}*/

/*.tariff:hover .tariff__cost::before,*/
/*.tariff:focus .tariff__cost::before {*/
  /*background-image: linear-gradient(17deg, #ffffff 34%, transparent 25%), linear-gradient(-17deg, #ffffff 34%, transparent 25%);*/
/*}*/

/*.tariff__small-letters {*/
  /*font-size: 18px;*/
  /*line-height: 24px;*/
/*}*/

/*.tariff__small-letters--top {*/
  /*top: -22px;*/
/*}*/

/*.tariff__small-letters--bottom {*/
  /*bottom: 0;*/
/*}*/

/*.tariff__properties-list {*/
  /*margin: 0 auto;*/
  /*padding: 0;*/
  /*list-style: none;*/
  /*margin-left: 34px;*/
  /*margin-right: 27px;*/
  /*margin-bottom: 33px;*/
/*}*/

/*.tariff__properties-item {*/
  /*line-height: 30px;*/
  /*position: relative;*/
  /*margin-bottom: 4px;*/
/*}*/

/*.tariff__properties-item::after {*/
  /*position: absolute;*/
  /*content: "";*/
  /*border-bottom: 1px dashed #eeeeee;*/
  /*bottom: -1px;*/
  /*left: 0;*/
  /*right: 0;*/
/*}*/

/*.tariff__button {*/
  /*display: block;*/
  /*margin: 0 auto;*/
  /*width: 139px;*/
  /*border-radius: 20px;*/
  /*margin-left: 66px;*/
  /*margin-right: 58px;*/
/*}*/

/*.tariff__button-trial {*/
  /*color: #aaaaaa;*/
  /*padding: 3px 0;*/
/*}*/

/*.tariff__button-buy {*/
  /*font-size: 14px;*/
  /*font-weight: 500;*/
  /*color: #333333;*/
  /*background-color: #ffffff;*/
  /*border: 1px solid #eeeeee;*/
  /*margin-top: 5px;*/
  /*padding: 7px 0;*/
/*}*/

/*.tariff:hover .tariff__button-buy,*/
/*.tariff:focus .tariff__button-buy,*/
/*.tariff__button-buy:hover,*/
/*.tariff__button-buy:focus {*/
  /*color: #ffffff;*/
  /*background-image: linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*box-shadow: 0 2px 0 #d6d6d6, 0 -2px 0 #d6d6d6, -2px 0 0 #d6d6d6, 2px 0 0 #d6d6d6;*/
  /*border-color: #d6d6d6;*/
  /*width: 141px;*/

  /*margin-top: 6px;*/
  /*padding-top: 6px;*/
  /*padding-bottom: 10px;*/
  /*margin-bottom: -3px;*/
/*}*/

/*.video-clip {*/
  /*background-color: #253846;*/
  /*height: 400px;*/
  /*overflow: hidden;*/
  /*position: relative;*/
/*}*/

/*.video-clip__video {*/
  /*width: 100%;*/
/*}*/

/*.video-clip__play-button {*/
  /*position: absolute;*/
  /*width: 75px;*/
  /*height: 75px;*/
  /*background-image: linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*background-position: 50% 50%;*/
  /*content: "";*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*border-radius: 50%;*/
  /*border: none;*/
  /*transform: translate(-50%, -50%);*/
  /*cursor: pointer;*/
/*}*/

/*.video-clip__play-button::after {*/
  /*position: absolute;*/
  /*content: "";*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-42%, -50%);*/
  /*background-image: url("../img/play_icon.svg");*/
  /*background-repeat: no-repeat;*/
  /*background-position: center center;*/
  /*width: 22px;*/
  /*height: 25px;*/
/*}*/

/*.reviews {*/
  /*padding-top: 115px;*/
  /*text-align: center;*/
  /*margin-bottom: 90px;*/
/*}*/

/*.reviews__title {*/
  /*margin: 0 auto;*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 36px;*/
  /*font-weight: 500;*/
  /*line-height: 36px;*/
  /*color: #222222;*/
  /*width: 435px;*/
  /*margin-bottom: 23px;*/
/*}*/

/*.reviews__description {*/
  /*margin: 0 auto;*/
  /*width: 660px;*/
  /*margin-bottom: 76px;*/
/*}*/

/*.slider {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style: none;*/
  /*position: relative;*/
/*}*/

/*.slide {*/
  /*width: 360px;*/
/*}*/

/*.slick-slide {*/
  /*width: 360px;*/
  /*margin-right: 30px;*/
  /*background-color: #f7fafc;*/
/*}*/

/*.slick-track {*/
  /*padding-bottom: 30px;*/
/*}*/

/*.slick-center {*/
  /*box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);*/
  /*background-color: #ffffff;*/
/*}*/

/*.slick-arrow {*/
  /*display: block;*/
  /*position: absolute;*/
  /*width: 40px;*/
  /*height: 40px;*/
  /*background-color: #ffffff;*/
  /*border-radius: 50%;*/
  /*border: 1px solid #eeeeee;*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*top: 116px;*/
/*}*/

/*.slick-prev {*/
  /*background-image: url("../img/arrow_left_gray.png");*/
  /*left: -90px;*/
/*}*/

/*.slick-next {*/
  /*background-image: url("../img/arrow_right_gray.png");*/
  /*right: -90px;*/
/*}*/

/*.slick-arrow:focus,*/
/*.slick-arrow:active {*/
  /*background-image: linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*border: 3px solid #d0d3d5;*/
  /*width: 46px;*/
  /*height: 46px;*/
  /*top: 112px;*/
/*}*/

/*.slick-prev:focus,*/
/*.slick-prev:active {*/
  /*background-image:*/
    /*url("../img/arrow_left_white.png"),*/
    /*linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*left: -93px;*/
/*}*/

/*.slick-next:focus,*/
/*.slick-next:active {*/
  /*background-image:*/
    /*url("../img/arrow_right_white.png"),*/
    /*linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*right: -93px;*/
/*}*/

/*.feedback {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*width: 360px;*/
  /*padding-top: 35px;*/
  /*padding-right: 53px;*/
  /*padding-left: 39px;*/
  /*padding-bottom: 39px;*/
  /*text-align: left;*/
/*}*/

/*.feedback__data-wrapper {*/
  /*width: 153px;*/
  /*order: 2;*/
/*}*/

/*.feedback__user-name {*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 18px;*/
  /*font-weight: 400;*/
  /*color: #222222;*/
  /*margin: 0;*/
  /*margin-top: 15px;*/
/*}*/

/*.feedback__company {*/
  /*display: block;*/
/*}*/

/*.feedback__img {*/
  /*width: 80px;*/
  /*height: 80px;*/
  /*margin-right: 20px;*/
  /*margin-left: 1px;*/
  /*border-radius: 50%;*/
/*}*/

/*.feedback__text {*/
  /*margin: 0;*/
  /*margin-bottom: 22px;*/
  /*order: -1;*/
/*}*/

/*.download {*/
  /*background-color: #f94d4d;*/
  /*background-image: linear-gradient(to right, #fd712c 0%, #fb623a 33%, #f43b59 66%, #f21780 100%);*/
  /*padding-top: 115px;*/
  /*padding-bottom: 120px;*/
/*}*/

/*.download__title {*/
  /*margin: 0 auto;*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 36px;*/
  /*font-weight: 500;*/
  /*line-height: 36px;*/
  /*width: 352px;*/
  /*margin-bottom: 85px;*/
  /*color: #ffffff;*/
/*}*/

/*.download__link-wrapper {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
/*}*/

/*.download__link {*/
  /*width: 360px;*/
  /*height: 115px;*/
  /*border-radius: 3px;*/
  /*box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.07);*/
  /*background-color: #ffffff;*/
  /*position: relative;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
/*}*/

/*.download__link:hover,*/
/*.download__link:focus {*/
  /*box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.7);*/
/*}*/

/*.download__link::before {*/
  /*width: 115px;*/
  /*height: 115px;*/
  /*background-color: #f7fafc;*/
  /*content: "";*/
  /*background-repeat: no-repeat;*/
  /*background-position: 50% 67%;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 0;*/
/*}*/

/*.download__link--app-store::before {*/
  /*background-image: url("../img/apple_icon.png");*/
/*}*/

/*.download__link--play-store::before {*/
  /*background-image: url("../img/android_icon.png");*/
/*}*/

/*.download__link--microsoft-store::before {*/
  /*background-image: url("../img/microsoft_icon.png");*/
/*}*/

/*.download__source {*/
  /*color: #777777;*/
  /*margin: 0;*/
  /*margin-top: 31px;*/
  /*margin-left: 133px;*/
/*}*/

/*.download__text {*/
  /*display: block;*/
  /*font-family: "Dosis", "Arial", sans-serif;*/
  /*font-size: 30px;*/
  /*font-weight: 600;*/
  /*color: #222222;*/
  /*margin-bottom: 9px;*/
/*}*/

/*.footer {*/
  /*background-color: #222222;*/
  /*padding-top: 59px;*/
  /*padding-bottom: 54px;*/
/*}*/

/*.socials {*/
  /*margin-bottom: 25px;*/
/*}*/

/*.socials__list {*/
  /*margin: 0 auto;*/
  /*padding: 0;*/
  /*list-style: none;*/
  /*width: 156px;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
/*}*/

/*.socials__item {*/
  /*margin-right: 29px;*/
/*}*/

/*.socials__item:last-child {*/
  /*margin-right: 0;*/
/*}*/

/*.socials__link {*/
  /*display: block;*/
  /*height: 18px;*/
  /*background-color: #222222;*/
  /*background-repeat: no-repeat;*/
  /*background-position: 0% 100%;*/
/*}*/

/*.socials__link:hover,*/
/*.socials__link:focus {*/
  /*opacity: 0.5;*/
/*}*/

/*.socials__link--facebook {*/
  /*background-image: url("../img/facebook_icon.png");*/
  /*width: 10px;*/
/*}*/

/*.socials__link--twitter {*/
  /*background-image: url("../img/twitter_icon.png");*/
  /*width: 17px;*/
/*}*/

/*.socials__link--unknown {*/
  /*background-image: url("../img/unknown_icon.png");*/
  /*width: 17px;*/
/*}*/

/*.socials__link--unknown2 {*/
  /*background-image: url("../img/unknown_icon2.png");*/
  /*width: 22px;*/
/*}*/

/*.copyright {*/
  /*color: #ffffff;*/
  /*background-color: #222222;*/
  /*width: 402px;*/
  /*margin: 0 auto;*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
/*}*/

/*.copyright__text {*/
  /*margin: 0;*/
  /*position: relative;*/
/*}*/

/*.copyright__text:nth-child(1)::after {*/
  /*content: "";*/
  /*width: 1px;*/
  /*height: 11px;*/
  /*background-color: #ffffff;*/
  /*position: absolute;*/
  /*right: -8px;*/
  /*top: 5px;*/
/*}*/
