<section class="advantages container">
    <h2 class="visually-hidden">Giant app advantages</h2>
    <ul class="advantages__list row list-unstyled">
        <div class="col-xl col-md-6 col-12">
            <li class="advantages__item">
                <h3 class="advantages__title">
                    Sell any product online
                </h3>
                <p class="advantages__text">
                    Over 92% of computers are infected with Adware and spyware. Such software is.
                </p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">
                    Very easy to customize
                </h3>
                <p class="advantages__text">
                    Many of us are so used to working on a computer desktop that when it comes
                </p>
            </li>
        </div>
        <div class="col-xl col-md-6 col-12">
            <li class="advantages__item">
                <h3 class="advantages__title">
                    Unlimited colors
                </h3>
                <p class="advantages__text">
                    Audio player software is used to play<br> back sound recordings in one of the many
                </p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">
                    Responsive, HTML5, CSS3
                </h3>
                <p class="advantages__text">
                    Computers have become ubiquitous in almost every facet of our lives. At work,
                </p>
            </li>
        </div>
        <div class="col-xl col-md-6 col-12">
            <li class="advantages__item">
                <h3 class="advantages__title">
                    Designed to convert
                </h3>
                <p class="advantages__text">
                    If you are looking for a new way to promote your business that won’t cost
                </p>
            </li>
            <li class="advantages__item">
                <h3 class="advantages__title">
                    With no boundaries
                </h3>
                <p class="advantages__text">
                    Now, if you are interested in being the<br> best player, getting really good money and
                </p>
            </li>
        </div>
    </ul>
</section>