<section class="download">
    <div class="download__inner container">
        <h2 class="download__title">Download Giant App Now</h2>
        <div class="download__link-wrapper">
            <a class="download__link download__link--app-store" href="#">
                <p class="download__source">
                    <span class="download__text">Download</span>
                    Download from app store
                </p>
            </a>
            <a class="download__link download__link--play-store" href="#">
                <p class="download__source">
                    <span class="download__text">Download</span>
                    Download from play store
                </p>
            </a>
            <a class="download__link download__link--microsoft-store" href="#">
                <p class="download__source">
                    <span class="download__text">Download</span>
                    Download from microsoft store
                </p>
            </a>
        </div>
    </div>
</section>