<section class="interfaces">
    <div class="interfaces__inner container">
        <div class="row"><h2 class="interfaces__title col-sm-auto ml-auto mr-auto text-center">Take a look at our screenshots</h2></div>
        <p class="interfaces__text col-xl-8 col-lg-12 ml-auto mr-auto text-center">Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?</p>
        <div class="interfaces__slider">
            <div class="wrap" id="wrap">
                <div class="gg_left gg_btn"></div>
                <div class="gg_right gg_btn"></div>
                <ul class="wrap_ul">
                </ul>
                <button class="toggle__button toggle__button--left" type="button"><span class="visually-hidden">previous</span></button>
                <button class="toggle__button toggle__button--right" type="button"><span class="visually-hidden">next</span></button>
            </div>
        </div>
    </div>
</section>