<section class="price container">
    <div class="row">
        <h2 class="price__title col-md-auto ml-auto mr-auto text-center">We&apos;ve got the perfect package for you</h2>
        <p class="price__text col-12 col-xl-7 col-lg-10 col-sm-12 ml-auto mr-auto text-center">Everyone’s reasons for learning user interface design are different. If you’re already a
            developer, or a PM, or a UX designer, why develop this totally separate skill?
        </p>
    </div>

    <ul class="price__list row list-unstyled justify-content-start">
        <li class="price__item tariff col-12 col-sm-6 col-lg text-center">
            <h3 class="tariff__title">Basic</h3>
            <b class="tariff__cost"><sup class="tariff__small-letters tariff__small-letters--top">$</sup>12.0<sub
                    class="tariff__small-letters tariff__small-letters--bottom">/m</sub></b>
            <ul class="tariff__properties-list list-unstyled">
                <li class="tariff__properties-item">One User</li>
                <li class="tariff__properties-item">Multiple Access</li>
                <li class="tariff__properties-item">SMS Support</li>
                <li class="tariff__properties-item">24/7 Online Support</li>
            </ul>
            <div class="row">
                <a class="tariff__button tariff__button-trial mr-auto ml-auto col-8" href="#">Start Free Trial</a>
                <a class="tariff__button tariff__button-buy mr-auto ml-auto col-8" href="#">Buy Now</a>
            </div>
        </li>
        <li class="price__item tariff col-12 col-sm-6 col-lg text-center">
            <h3 class="tariff__title">Standard</h3>
            <b class="tariff__cost"><sup class="tariff__small-letters tariff__small-letters--top">$</sup>24.0<sub
                    class="tariff__small-letters tariff__small-letters--bottom">/m</sub></b>
            <ul class="tariff__properties-list list-unstyled">
                <li class="tariff__properties-item">Five User</li>
                <li class="tariff__properties-item">Multiple Access</li>
                <li class="tariff__properties-item">SMS Support</li>
                <li class="tariff__properties-item">24/7 Online Support</li>
            </ul>
            <div class="row">
                <a class="tariff__button tariff__button-trial mr-auto ml-auto col-8" href="#">Start Free Trial</a>
                <a class="tariff__button tariff__button-buy mr-auto ml-auto col-8" href="#">Buy Now</a>
            </div>
        </li>
        <li class="price__item tariff col-12 col-sm-6 col-lg text-center">
            <h3 class="tariff__title">Premium</h3>
            <b class="tariff__cost"><sup class="tariff__small-letters tariff__small-letters--top">$</sup>250.0<sub
                    class="tariff__small-letters tariff__small-letters--bottom">/m</sub></b>
            <ul class="tariff__properties-list list-unstyled">
                <li class="tariff__properties-item">Twenty User</li>
                <li class="tariff__properties-item">Multiple Access</li>
                <li class="tariff__properties-item">SMS Support</li>
                <li class="tariff__properties-item">24/7 Online Support</li>
            </ul>
            <div class="row">
                <a class="tariff__button tariff__button-trial mr-auto ml-auto col-8" href="#">Start Free Trial</a>
                <a class="tariff__button tariff__button-buy mr-auto ml-auto col-8" href="#">Buy Now</a>
            </div>
        </li>
        <li class="price__item tariff col-12 col-sm-6 col-lg text-center">
            <h3 class="tariff__title">Enterprise</h3>
            <b class="tariff__cost"><sup class="tariff__small-letters tariff__small-letters--top">$</sup>999.0<sub
                    class="tariff__small-letters tariff__small-letters--bottom">/m</sub></b>
            <ul class="tariff__properties-list list-unstyled">
                <li class="tariff__properties-item">Unlimited User</li>
                <li class="tariff__properties-item">Multiple Access</li>
                <li class="tariff__properties-item">SMS Support</li>
                <li class="tariff__properties-item">24/7 Online Support</li>
            </ul>
            <div class="row">
                <a class="tariff__button tariff__button-trial mr-auto ml-auto col-8" href="#">Start Free Trial</a>
                <a class="tariff__button tariff__button-buy mr-auto ml-auto col-8" href="#">Buy Now</a>
            </div>
        </li>
    </ul>
    <nav aria-label="page-navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>