<section class="promo">`
    <div class="promo__inner container">
        <div class="promo__content row">
            <div class="col-md-6">
                <h2 class="promo__title">A Powerful &amp; Unique App Landing Template</h2>
                <p class="promo__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <ul class="promo__list">
                    <li class="promo__item">Unlimited colors: banner with images, slider or video</li>
                    <li class="promo__item">Fully Responsive and powered by HTML5 and CSS3</li>
                    <li class="promo__item">Very easy to customize : set up in minutes</li>
                </ul>
                <a class="promo__link" href="#">Start Exploring Us</a>
            </div>
        </div>
    </div>
</section>