<section class="reviews container">
    <div class="row">
        <h2 class="reviews__title col-md-auto ml-auto mr-auto text-center">What our customers are saying</h2>
        <p class="reviews__description col-12 col-xl-8 col-lg-10 col-sm-12 ml-auto mr-auto text-center">Everyone’s reasons for learning user interface design are different. If you’re
            already a developer, or a PM, or a UX designer, why develop this totally separate skill?</p>
    </div>

    <div class="slider__wrapper">
        <ul class="slider row list-unstyled">
            <li class="slide feedback__wrapper col-lg">
                <div class="feedback">
                    <div class="feedback__data-wrapper">
                        <h3 class="feedback__user-name">Alexandra Bullock</h3>
                        <span class="feedback__company">Apple Inc.</span>
                    </div>
                    <picture>
                        <source type="image/webp" srcset="img/photo1.webp">
                        <img class="feedback__img" src="img/photo1.jpg" width="80" height="80" alt="User image">
                    </picture>
                    <p class="feedback__text">
                        The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
                    </p>
                </div>
            </li>
            <li class="slide col-lg">
                <div class="feedback">
                    <div class="feedback__data-wrapper">
                        <h3 class="feedback__user-name">Gary Sebastian</h3>
                        <span class="feedback__company">Apple Inc.</span>
                    </div>
                    <picture>
                        <source type="image/webp" srcset="img/photo2.webp">
                        <img class="feedback__img" src="img/photo2.jpg" width="80" height="80" alt="User image">
                    </picture>
                    <p class="feedback__text">
                        Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
                    </p>
                </div>
            </li>
            <li class="slide col-lg">
                <div class="feedback">
                    <div class="feedback__data-wrapper">
                        <h3 class="feedback__user-name">Samantha Bilbau</h3>
                        <span class="feedback__company">Apple Inc.</span>
                    </div>
                    <picture>
                        <source type="image/webp" srcset="img/photo3.webp">
                        <img class="feedback__img" src="img/photo3.jpg" width="80" height="80" alt="User image">
                    </picture>
                    <p class="feedback__text">
                        Definitely a great theme and the support team are fantastic. Customer support is numero uno and ShapingRain have got this spot on. Cheers guys.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>